:root {
  --brand-color: #2196f3;
  --text-color: #757575;
  --head-color: #212121;
  --inversion-color: #ffffff;
  --background-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--head-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo > span {
  color: var(--brand-color);
}

.link {
  color: var(--head-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--brand-color);
}

.contacts {
  color: var(--text-color);
}

.hero {
  background-color: var(--background-color);
}

.hero-title {
  color: var(--inversion-color);
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  color: var(--inversion-color);
  background-color: var(--brand-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.exellence-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.exellence-text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
}

.case-title,
.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
}

.command {
  background-color: #f5f4fa;
}

.command h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
}

.command p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--background-color);
}

.footer .logo {
  color: var(--inversion-color);
}

.address {
  color: var(--inversion-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
  font-style: normal;
}

.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.site-nav,
.site-contacts,
.excellence-list,
.case-list,
.command-list,
.filters-list,
.projects-list {
  list-style: none;
}

/* Страница портфолио */
.site-nav-span {
  color: var(--brand-color);
}

.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
  font-family: "Roboto", sans-serif;
  color: var(--inversion-color);
  background-color: var(--brand-color);
  cursor: pointer;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
